@page "/acercade"

@rendermode InteractiveServer

<PageTitle>Acerca de:</PageTitle>




<div class="text-center" >
    <div>
        <h1>Acerca del Creador de la pagina</h1>
    </div>
    
    <h4>Nombre: Cristobal Garcia Lopez</h4>
    <h4>Matricula: 2023-1634</h4>
    <h4>Cedula: 402-1957506-1</h4>
    <h4>Fecha de nacimiento: 9/10/2004</h4>
    <h4>Estado civil: Soltero</h4>
    <img class= "img-fluid" src= "imagenes/selfi.jpg" width="300px">
    <h4>Foto de sujeto</h4>

    <div>
        <h3>Redes del sospechoso</h3>
    <p><a href="https://wa.me/18299296838" target="_blank" class="btn btn-primary">Mi WhatsApp</a>
    <a href="https://t.me/CrisGLpz" target="_blank" class="btn btn-primary">Mi Telegram</a>
    <a href="mailto:20231634@itla.edu.do" target="_blank" class="btn btn-primary">Mi Gmail</a></p>
    </div>

</div>

 